# Ignore all logs
*.log

# Ignore all pid
*.pid

# Ignore Vendor folder but allow its installation
#vendor/

# Ignore SRC
#src/

# Ignore cache files
*.cache

#Ignore the phpunit.cache with it's contents
./.phpunit.cache/

# Second try to ignore the phpunit.cache folder
.phpunit.cache

# Ignore Idea
.idea/


